.body{
	background-color: white;
}

.navbar {
	position: relative;
	height: 75px;
	width: 100%;
	border-radius: 0px 0px 35px 35px;
    background: linear-gradient(52deg, #005bd1, #0bc1da, #d900f4, #5cf400);
    background-size: 800% 800%;
    -webkit-animation: animatedGradient 40s ease infinite;
    -moz-animation: animatedGradient 40s ease infinite;
    animation: animatedGradient 40s ease infinite;
}

.login{
	height: 100%;
	width: 500px;
	background: linear-gradient(52deg, #005bd1, #0bc1da, #d900f4, #5cf400);
	-webkit-animation: animatedGradient 40s ease infinite;
    -moz-animation: animatedGradient 40s ease infinite;
    animation: animatedGradient 40s ease infinite;
}

@-webkit-keyframes animatedGradient {
    0%{background-position:0% 79%}
    50%{background-position:100% 22%}
    100%{background-position:0% 79%}
}
@-moz-keyframes animatedGradient {
    0%{background-position:0% 79%}
    50%{background-position:100% 22%}
    100%{background-position:0% 79%}
}
@keyframes animatedGradient {
    0%{background-position:0% 79%}
    50%{background-position:100% 22%}
    100%{background-position:0% 79%}
}

.navbar-brand{
	color: white;
}

.leftHeader{
	font-size: 30px;
	font-weight: bold;
}

.rightHeader{
	font-size: 20px;
	font-weight: bold;
}

.loginContainer{
	display: flex;
	width: 100%;
	height: 400px;
	margin-top: 100px;
	position: relative;
	justify-content: center;
}

.login{
	height: 100%;
	width: 500px;
	border-color:linear-gradient(52deg, #005bd1, #0bc1da, #d900f4, #5cf400);
	background-size: 800%;
	-webkit-animation: animatedGradient 40s ease infinite;
    -moz-animation: animatedGradient 40s ease infinite;
    animation: animatedGradient 40s ease infinite;
    padding: 4px;
}

.innerLogin{
	height: 100%;
	padding: 4rem;
	background: white;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}




